{% extends 'base.html' %}
{% block title %}
Register
{% endblock title %}
{% block body %}


<style>
    .root_register {
      margin: 30px auto;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      
  
      border-radius: 8px;
      background: #FFF;
  
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    }
  
    input{
        width: 100%;
    }

    form > p {
        width: 100%;
    }

    .helptext {
        display: none;
    }

    label {
    color: #023E8A;
    font-weight: 600;
    }

    .form_title {
    color: #023E8A;
    margin-bottom: 40px;
    }

    .mBtn{
    margin: auto;
    background-color: #023E8A;
    border-color: unset;
    }

    form input {
    border-color: #023E8A;
    }
  </style>

<div class="wrapper_center">

    <div class="root_register">
   
  <h2 class = "form_title">Registration</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="mBtn" type="submit">Submit</button>
  </form> </div>
</div>
{% endblock body%}
